Repository react-native-netinfo/react-native-netinfo, pull requests merged in 2021-12, with the labels that each got.

#547 fix(android): try async state fetch as stale state workaround
  android/src/main/java/com/reactnativecommunity/netinfo/NetworkCallbackConnectivityReceiver.java
Labels: help wanted, android

#545 docs(README): document new 5G network types
  README.md
Labels: pending merge

#548 fix(android): avoid send event when has no listener
  android/src/main/java/com/reactnativecommunity/netinfo/ConnectivityReceiver.java
  android/src/main/java/com/reactnativecommunity/netinfo/NetInfoModule.java
Labels: android, pending merge
